{% extends "base.html" %}
{% load thumbnail %}
{% block contenido %}

<section class="content-digital">
    <div class="row">
      <div class="large-8 news-list column">
       <h1 class="h-titles">Noticias</h1>
       {% for noticia in object_list %}
         <div class="list-post-news">
          {% if noticia.fotos.all %}
            {% for imagen in noticia.fotos.all|slice:"1" %}
            {% thumbnail imagen.imagen "750x400" crop="10%" as img %}
                <div class="img-news-list"><a href="{{noticia.get_absolute_url}}"><img src="/media/{{img}}"></a></div>
            {% endthumbnail %}          
          {% endfor %}
          {%else%}
          <div class="img-news-list"><a href="{{noticia.get_absolute_url}}">
          <img src="http://placehold.it/750x400"></a></div>
          {% endif %}
          <span class="date-publish">Publicado:{{noticia.fecha|date:"j  F, Y"}}</span>
          <h2 class="tlist-news"><a href="{{noticia.get_absolute_url}}">{{noticia.titulo}}</a></h2>
          <div class="news-post-list">{{ noticia.descripcion|striptags|safe|truncatewords:16 }}</div>
          <span class="more-news"><a href="{{noticia.get_absolute_url}}">Leer m&aacutes</a></span>
        </div>
  	   {% endfor %}
     </div>
     <div class="large-4 column">
       <div class="filtro">
        <h1 class="side-titles">Buscar por Categorias</h1>
        <ul class="cat-list">
          {% for  obj in  categorias%}
            <li><a href="{% url 'noticias_categoria' obj.id %}">{{obj.nombre}}</a></li>
          {% endfor %}
          
        </ul>
        
        </div>

       
      {% include "sidebar_lista.html" %}
     </div>

  <div class="large-12 column">
    <div class="paginador">
    <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="arrow unavailable"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% endif %}
    {% for numero in page_obj.paginator.page_range %}
      <li class="{%if numero == 1 %}current{%endif%}"><a href="?page={{numero}}">{{numero}}</a></li>
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="arrow"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% endif %}
    </ul>
  </div>
  </div>

  </div>
  

  </section>

  

{% endblock %}