{% extends "base.html" %}

{% block contenido %}
<div class="patter-content">
<div class="row">
    <div class="large-12 column">
        <h2>Documentos para descargar</h2>
<table>
  <thead>
    <tr>
      <th width="200">Nombre documento</th>
      <th width="150">Descargar</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in object_list %}
        <tr>
          {% if obj.nombre %}
            <td>{{obj.nombre}}</td>
            <td><div class="descargar">
              <i class="icon-download"></i>
              <a href="/media/{{obj.archivo}}">Descargar archivo</a>
              </div></td>
          {% else %}
            <td>{{obj.titulo}}</td>
            <td><div class="descargar">
              <i class="icon-download"></i>
              <a href="/media/{{obj.adjunto}}">Descargar archivo</a>
              </div></td>
          {% endif %}
        </tr> 
      {% endfor %}
  </tbody>
</table>


{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previo</a>
            {% endif %}
            <span class="page-current">
                Pagina {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">próximo</a>
            {% endif %}
        </span>
    </div>
{% endif %}


    </div>
</div>
</div>
{% endblock contenido %}