{% extends "base.html" %}

{% load thumbnail %}

{% block contenido %}
<div class="patter-content">
<div class="row">
    <div class="large-12 column">
          <h2 class="h-titles"><i class="icon-camera"></i>&nbsp;Nuestra lista de fotos</h2>

        {% for obj in object_list %}
        <div class="foto-list">
            <div>
            {% thumbnail obj.imagen "300x200" crop="10%" as img %}
                <img class="opacity" src="/media/{{img}}">
            {% endthumbnail %}
            </div>

         <span class="pic-title">
            {{obj.nombre}}  
        </span>
        <span class="downloads">
            <a href="/media/{{obj.imagen}}" download="{{obj.nombre}}" title="{{obj.nombre}}"><i class="icon-download"></i>Descargar</a>
        </span>
        </div>


        {% empty %}
            <p>No existen fotos</p>
        {% endfor %}
<br>
<div class="large-12 column">
 <div class="paginador">
    <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="arrow unavailable"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% endif %}
    {% for numero in page_obj.paginator.page_range %}
      <li class="{%if numero == 1 %}current{%endif%}"><a href="?page={{numero}}">{{numero}}</a></li>
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="arrow"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% endif %}
    </ul>
  </div>
</div>


    </div>
</div>
</div>
{% endblock contenido %}