{% extends "base.html" %}

{% block contenido %}
<div class="row">
    <div class="large-12 column">
        {% for obj in object_list %}
            {{obj.nombre}}
            {{obj.url}} <br>
        {% empty %}
            <p>No existen videos</p>
        {% endfor %}

{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previo</a>
            {% endif %}
            <span class="page-current">
                Pagina {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">próximo</a>
            {% endif %}
        </span>
    </div>
{% endif %}

    </div>
</div>
{% endblock contenido %}