{% extends "base.html" %}

{% load thumbnail %}
{% load embed_video_tags %}

{% block contenido %}
<div class="patter-content">
<div class="row">
  <div class="large-12 columns"></div>
  <h2 class="h-titles"><i class="icon-youtube-play"></i>&nbsp;Nuestra lista de videos</h2>

        {% for obj in object_list %}
           
         <div class="video-list">
          {% video obj.url as video %}

                <a data-reveal-id="videoModal-{{obj.id}}" href="">
                  <div class="play-list"></div>
                  {% thumbnail video.thumbnail "210x180" crop="10%" as img %}
                      <img src="/media/{{ img }}" alt="">
                  {% endthumbnail %}
                </a>
                {% endvideo %}

           <div class="video-title">{{obj.nombre}}</div>
          </div>   
             
        {% empty %}
            <p>No existen videos</p>
        {% endfor %}

{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previo</a>
            {% endif %}
            <span class="page-current">
                Pagina {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">próximo</a>
            {% endif %}
        </span>
    </div>
{% endif %}

</div>
</div>
</div>


<!--Video Modal box content --> 
{% for obj in object_list %}
  <div id="videoModal-{{obj.id}}" class="reveal-modal medium">
  <h2>{{obj.nombre}}</h2>
  <div class="flex-video">
    {% video obj.url as video %}
      {{video|embed:"640x480"}}  
    {% endvideo %}
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>
{% endfor %}
<!--Video Modal box content --> 
{% endblock contenido %}