{% extends "base.html" %}
{% load thumbnail%}
{% block contenido %}



<div class="content-digital">
  <div class="row">
  <div class="large-8 columns">
  <h1 class="h-titles">Publicaciones</h1>


    <div class="pub-list">
      {% for publicacion in object_list %}
  		  <div class="pub-view">
          <span class="dates-pub"> {{ publicacion.fecha }}</span>
          {% if publicacion.portada %}
              {% thumbnail publicacion.portada "650x400" crop="1%" as img %}
               <img src="/media/{{img}}">
              {% endthumbnail %} 
         {% else %}
           <img src="http://placehold.it/150x200">
        {% endif %}
         <h2 class="tlist-news">
          <a href="{{ publicacion.get_absolute_url }}">{{ publicacion.titulo }}</a><br>
          
        

          </h2>
        </div>
      {% empty %}
          <p>No hay publicacion</p>

         {% endfor %}

    </div>
      
  <div class="paginador">
      <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="arrow unavailable"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% endif %}
      {% for numero in page_obj.paginator.page_range %}
        <li class="{%if numero == 1 %}current{%endif%}"><a href="?page={{numero}}">{{numero}}</a></li>
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="arrow"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% endif %}
      </ul>
    </div>



  </div>

<div class="large-4 column">
  <h1 class="h-titles"> Categoria de publicaciones</h1>

</div>
  

  </div>
</div>
{% endblock %}