{% extends "base.html" %}
{% load thumbnail %}
{% block contenido %}
<div class="content-digital">
<div class="row">
  <div class="large-8  columns">
    
  	<div class="pub-detail">
      <h1 class="h-titles">{{object.titulo}}</h1>
      <span class="dates">{{ object.fecha }}</span>
		{% if object.portada %}
  		{% thumbnail object.portada "250x350" crop="10%" as img %}
       <div class="img-pub">
        <a href="{{noticia.get_absolute_url}}"><img src="/media/{{img}}"></a>
      </div>
          {% endthumbnail %}
    	{%else%}
      <img src="http://placehold.it/250x350">
    	{%endif%}
      
     
   
   
      
   <div class="text-pages">{{ object.descripcion|safe }}</div>
   <div class="descargar">
        <i class="icon-download"></i>
        <a href="/media/{{object.adjunto}}">Descargar archivo</a>
      </div>
    <i class="icon-tag"></i> &nbsp;<span class="cat-tag">Categoria</span>
   </div>
     
  </div>
  <div class="large-4 columns">
   <h1 class="h-titles">Ultimas publicaciones</h1>
    <div class="related-post">
      {% for obj in publi %}
      <div class="related-content">
        <i class="icon-th-large"></i>
        <a href="{{obj.get_absolute_url}}">{{obj}}</a> <br>
      </div>
      {% empty %}
        <p>No existen noticias relacionada a esta categoria</p>
      {% endfor %}
    </div>
  </div>
</div>
</div>
{% endblock contenido %}