@charset "UTF-8";
/**** color variables ****/
/* line 24, ../sass/global.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/**** Header ****/
/* line 31, ../sass/global.scss */
#header_container {
  height: 130px;
}


/* line 34, ../sass/global.scss */
.reddes_logo {
  background: url("../img/logo.png") no-repeat;
  width: 106px;
  z-index: 5;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  height: 98px;
}

.top-bar-section li a:not(.button){
  font-weight: bold;
  font-size: 14px;
}

.top-bar-section .left,.top-bar-section .right{
  margin-top: 31px;
}
.top-bar{
  height: 130px;
  vertical-align: middle;
  background-color: white;
  margin-bottom: 0;

}
.top-bar-section .right li a:not(.button) {
padding: 0 0px;
background-color: white;

}
.row.collapse .column, .row.collapse .columns{
  padding-left:20px;
}
.btext{
  margin-top: 2px;
}
.top-bar-section .has-form{
  background-color: white;
}
.top-bar-section li a:not(.button){
  background-color: white;
  color: #e77e23;
}
/* line 45, ../sass/global.scss */
.social_icons {
  float: left;
  margin-top: 2.2em;
  margin-left: 140px;
  padding-right: 20px;
}

/* line 52, ../sass/global.scss */
.search_box {
  width: 140px;
  margin-top: 2.2em;
  margin-right: 20px;
  float: left;
}

/* line 60, ../sass/global.scss */
.alineado {
  float: left;
  clear: left;
  text-align: center;
}

/* line 67, ../sass/global.scss */
.line-header {
  width: 100%;
  background: #3d3e40;
  height: 8px;
}

/* line 73, ../sass/global.scss */
#hero-content {
  height: 350px;
}

/* line 82, ../sass/global.scss */
.orbit-container {
  position: absolute;
  margin-top: -5px;
  /* Half the height */
  margin-left: -480px;
  /* Half the width */
  left: 50%;
  width: 960px;
  visibility: visible;
}

/* line 91, ../sass/global.scss */
.orbit-bullets {
  top: 380px;
  float: left;
  left: 50%;
}

/* line 96, ../sass/global.scss */
.slide-box {
  text-align: center;

  top: 4%;
  left: 0px;
  width: 100%;
  overflow: visible;
  visibility: visible;
  display: block;
}

/* line 108, ../sass/global.scss */
.slide-img {
  position: absolute;
  margin-top: -12px;
  /* Half the height */
  margin-left: -480px;
  /* Half the width */
  left: 50%;
  width: 960px;
  visibility: visible;
}

/* line 117, ../sass/global.scss */
.breadcrumbs {
  font-size: 14px;
  background: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
}

/* Navigation styling */
/* line 126, ../sass/global.scss */
.menu-principal {
  background: white;
  float: left;
  margin-top: 20px;
}

/* line 130, ../sass/global.scss */
.nav {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
}

/* line 140, ../sass/global.scss */
.nav-list li {
  list-style: none;
}

/* line 145, ../sass/global.scss */
.nav-item {
  float: left;
  *display: inline;
  zoom: 1;
}

/* line 151, ../sass/global.scss */
.home a {
  border: 0;
  margin-top: 0;
}

/* line 155, ../sass/global.scss */
.nav-item a {
  display: block;
  padding: 2px 12px;
  color: #e77e23;
}

/* line 167, ../sass/global.scss */
.nav-item a:hover {
  color: #555555;
}

/* Mobile Navigation */
/* line 171, ../sass/global.scss */
.nav-mobile {
  display: none;
  /* Hide from browsers that don't support media queries */
  cursor: pointer;
  position: relative;
  left: 70%;
  z-index: 30;
  top: 0;
  background: url(../img/nav.svg) no-repeat center center;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 187, ../sass/global.scss */
#hero-content {
  background: url("../img/hero-bg.png") repeat;
}

/**** Header ****/
/**** MAIN CONTENT ****/
/* line 195, ../sass/global.scss */
.small-line {
  display: block;
  height: 3px;
  background-color: #000;
  opacity: 0.1;
  margin: 15px 0 15px;
  width: 80px;
}

/* line 207, ../sass/global.scss */
.read-more {
  margin-top: 10px;
  clear: both;
}
/* line 210, ../sass/global.scss */
.read-more a {
  color: #343233;
}

/* line 214, ../sass/global.scss */
.feeds-content {
  background: #4598a6;
  margin-top: 40px;
}

/* line 219, ../sass/global.scss */
.content-digital {
  background: url("../img/digital-bg.png") repeat;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* line 225, ../sass/global.scss */
.social-content {
  background: url("../img/social-bg.png") repeat;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* line 231, ../sass/global.scss */
.patter-content {
  background: url("../img/pattern12.png") repeat;
  padding-top: 20px;
}

/* line 235, ../sass/global.scss */
.socio_button {
  margin-top: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f87e11;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

/* line 248, ../sass/global.scss */
.socio_button a {
  color: white;
}

/* line 251, ../sass/global.scss */
.title-content {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1.4em;
}

/* line 259, ../sass/global.scss */
.title-bar {
  color: #323232;
 
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 270, ../sass/global.scss */
.blogs:before {
  content: '';
  background: url("../img/bubble.png") no-repeat;
  padding-left: 35px;
  padding-bottom: 5px;
}

/* line 277, ../sass/global.scss */
.videos:before {
  content: '';
  background: url("../img/videos-icon.png") no-repeat;
  padding-left: 35px;
  padding-bottom: 5px;
}

/* line 285, ../sass/global.scss */
.calendar:before {
  content: '';
  background: url("../img/icon-calendar.png") no-repeat;
  padding-left: 45px;
  padding-bottom: 10px;
}

/******Tabs******/
/* line 296, ../sass/global.scss */
.tabss {
  margin-top: 25px;
}
@media screen and (max-width: 480px){
.feeds-content {
 
  margin-top: 20px;
}
  .share_box{
      display: none;
    }
  .carousel-caption-1 {
    right: 1%;
    display: none;
  }

  /* line 1951, ../sass/global.scss */
  .carousel-caption-2 {
    right: 1%;
    display: none;
  }

  /* line 1955, ../sass/global.scss */
  .carousel-caption-3 {
    right: 1%;
    display: none;
  }

  /* line 1959, ../sass/global.scss */
  .carousel-caption-4 {
    right: 1%;
    display: none;
  }

  /* line 1963, ../sass/global.scss */
  .carousel-caption-5 {
    right: 1%;
    display: none;
  }
  .carousel-caption-1 {
    right: 1%;
    display: none;
  }

  /* line 1951, ../sass/global.scss */
  .carousel-caption-2 {
    right: 1%;
    display: none;
  }

  /* line 1955, ../sass/global.scss */
  .carousel-caption-3 {
    right: 1%;
    display: none;
  }

  /* line 1959, ../sass/global.scss */
  .carousel-caption-4 {
    right: 1%;
    display: none;
  }

  /* line 1963, ../sass/global.scss */
  .carousel-caption-5 {
    right: 1%;
    display: none;
  }

  .top-bar.expanded .title-area {
  background: #3c8d3f;
  }
  .tabss h3{
    border-bottom: 1px solid;
    background: white;
    color: black;
    border-left: none;
    border-top: none;
    border-right: none;
    }
.tab_drawer_heading{
  background: white;
  color:black;
  border-top: none;
}


}
/* line 299, ../sass/global.scss */
ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 31px;
  border-bottom: 2px solid #c5c5c5;
  width: 100%;
}

/* line 309, ../sass/global.scss */
ul.tabs li {
  float: left;
  margin: 0;
  cursor: pointer;
  padding: 0px 21px;
  height: 31px;
  line-height: 31px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #AFAFAF;
  background-color: #ccc;
  color: #000;
  overflow: hidden;
  position: relative;
}

/* line 326, ../sass/global.scss */
.tab_last {
  border-right: 1px solid #ccc;
}

/* line 328, ../sass/global.scss */
ul.tabs li:hover {
  background-color: #ccc;
  color: #333;
}

/* line 333, ../sass/global.scss */
ul.tabs li.active {
  background-color: #fff;
  color: #333;
  border-bottom: 1px solid #fff;
  display: block;
}

/* line 340, ../sass/global.scss */
.tab_container {
  border: 2px solid #c5c5c5;
  border-top: 0px;
  clear: both;
  float: left;
  padding-bottom: 10px;
  margin-bottom: 25px;
  width: 100%;
  background: #fff;
  overflow: auto;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* line 358, ../sass/global.scss */
.tab_content {
  padding: 20px;
  display: none;
}

/* line 363, ../sass/global.scss */
.tab_drawer_heading {
  display: none;
}

/* line 1624, ../sass/global.scss */
#tabs1-html {
  font-size: .875em;
  padding: 20px;
  height: 350px !important;
  background: #fff;
  border: 1px solid #e9e9e9;
  border-bottom: 2px solid #e9e9e9;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
@media screen and (max-width: 480px) {
  .feeds-content {
 
  margin-top: 20px;
}
  .share_box{
      display: none;
    }
  /* line 366, ../sass/global.scss */
  .carousel-caption-1 {
    right: 1%;
    display: none;
  }

  /* line 1951, ../sass/global.scss */
  .carousel-caption-2 {
    right: 1%;
    display: none;
  }

  /* line 1955, ../sass/global.scss */
  .carousel-caption-3 {
    right: 1%;
    display: none;
  }

  /* line 1959, ../sass/global.scss */
  .carousel-caption-4 {
    right: 1%;
    display: none;
  }

  /* line 1963, ../sass/global.scss */
  .carousel-caption-5 {
    right: 1%;
    display: none;
  }
  .tabs {
    display: none;
  }

.top-bar{
  height: 45px;
  vertical-align: middle;
  background-color: #3c8d3f;
}
.fb-like-box{
  width: 200px;
}
.top-bar-section .left,.top-bar-section .right{
  margin-top: 0px;
}

.top-bar.expanded .title-area {
  background: #3c8d3f;
  }
.top-bar-section .right li a:not(.button) {
padding: 0 0px;
background-color:#3c8d3f;

}
.top-bar-section .has-form{
  background-color: #3c8d3f;
}
.top-bar-section li a:not(.button){
  background-color: #3c8d3f;
  color: white;
}
.reddes_logo{
  visibility: hidden;
  display: none;
}

  /* line 369, ../sass/global.scss */
  .tab_drawer_heading {
    background-color: #ccc;
    color: #fff;
    border-top: 1px solid #333;
    margin: 0;
    padding: 10px 20px;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* line 384, ../sass/global.scss */
  .d_active {
    background-color: #666;
    color: #fff;
  }
}
/* line 391, ../sass/global.scss */
.tabss p.news_front_list {
  font-size: 14px;
  float: left;
  line-height: 22px;
  font-style: italic;
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
  margin: 0;
  color: #777;
  padding-left: 70px;
  font-family: 'Open Sans', sans-serif;
}
.tab_content{
  padding: 0;
}

/**** front- news list ****/
/* line 408, ../sass/global.scss */
.tab_news_image {
  float: left;
}

/* line 412, ../sass/global.scss */
.feed-title {
  float: left;
  margin-top: 10px;
  width: 190px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #686959;
  font-size: 15px;
}

/* line 423, ../sass/global.scss */
.feed-date {
  float: left;
  margin-top: 5px;
  clear: both;
  color: #747468;
  font-size: 12px;
  font-style: normal;
}

/* line 432, ../sass/global.scss */
.feed-text {
  float: left;
  clear: both;
  color: #888a7d;
  margin-top: 5px;
  font-style: normal;
  width: 190px;
  font-size: 14px;
}

/***** blogs ****/
/* line 444, ../sass/global.scss */
.feedEkList {
  background-color: transparent;
  border: none;
  margin-top: 10px;
}

/* line 450, ../sass/global.scss */
ul.feedEkList {
  margin-left: 0;
}

/* line 453, ../sass/global.scss */
.itemTitle {
  font-family: 'Open Sans', sans-serif;
}
/* line 455, ../sass/global.scss */
.itemTitle a {
  color: #4598a6 !important;
}

/**** Eventos *****/
/* line 463, ../sass/global.scss */
h2.title-event {
  width: 200px;
  font-size: 12px;
  float: left;
  margin-bottom: 20px;
  color: #343233;
}
/* line 469, ../sass/global.scss */
h2.title-event a {
  color: #343233;
}

/* line 474, ../sass/global.scss */
.eventos {
  background: #eae8e9;
  padding: 15px;
  border: #d9d0d1 solid 1px;
  margin-top: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* line 484, ../sass/global.scss */
.eventos-fronts {
  float: left;
  display: inline-block;
}

/* line 488, ../sass/global.scss */
.fecha-box {
  float: left;
  font-size: 12px;
  padding: 10px;
  background: #eef2f3;
  clear: both;
  margin-right: 10px;
  margin-bottom: 15px;
  border-top: solid 4px #323232;
  border-bottom: #cac9c7 solid 4px;
}

/*** Eventos lista *****/
/* line 503, ../sass/global.scss */
.event-list {
  float: left;
  width: 100%;
  margin: 20px;
  padding-bottom: 2em;
  border-bottom: #d6d6d6 solid 1px;
}

/* line 510, ../sass/global.scss */
.event-image-list {
  float: left;
  margin-right: 10px;
}

/* line 515, ../sass/global.scss */
h1.title-event {
  font-size: 20px;
  float: left;
  width: 100%;
  color: #343233;
}
/* line 520, ../sass/global.scss */
h1.title-event a {
  color: #343233;
}

/* line 525, ../sass/global.scss */
.event-detail {
  float: left;
  margin-left: 25px;
  width: 600px;
}

/* line 531, ../sass/global.scss */
.texto-fecha {
  float: left;
  font-size: 11px;
  margin-top: 5px;
}

/* line 539, ../sass/global.scss */
.text-event {
  float: left;
  margin-top: 10px;
}

/* line 545, ../sass/global.scss */
a.tiny.event.button {
  margin-top: 15px;
  padding: 0;
}

/* line 552, ../sass/global.scss */
.map-canvas {
  margin-left: 10px;
  float: left;
}

/**** video ***/
/* line 559, ../sass/global.scss */
.play-icon-grid {
  z-index: 25;
  position: absolute;
  margin-top: 2%;
  margin-left: 9%;
}

/* line 566, ../sass/global.scss */
.video-sample {
  margin-bottom: 18px;
  border: 1px solid #555555;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.75);
}

/* line 575, ../sass/global.scss */
.video-container {
  float: left;
  clear: both;
}

/* line 581, ../sass/global.scss */
.video-grid {
  margin: 10p 10px 10px 0;
  float: left;
  width: 200px;
}

/* line 586, ../sass/global.scss */
.video-list {
  float: left;
  margin: 17px;
}
/* line 590, ../sass/global.scss */
.video-list img {
  border-radius: 10px;
  -moz-box-shadow: 3px 3px 3px 4px #ccc;
  -webkit-box-shadow: 3px 3px 3px 4px #ccc;
  box-shadow: 3px 3px 3px 4px #ccc;
}

/* line 598, ../sass/global.scss */
.video-title {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

/**** noticia lista *****/
/* line 608, ../sass/global.scss */
.h-titles {
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

/* line 614, ../sass/global.scss */
.side-titles {
  font-size: 19px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

/* line 620, ../sass/global.scss */
.socios-titles {
  font-size: 38px;
  color: #555555;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

/* line 627, ../sass/global.scss */
.h-sidebar {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
}

/* line 632, ../sass/global.scss */
.news-list {
  border-right: 1px solid #eee;
}

/* line 635, ../sass/global.scss */
h2.tlist-news {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
}
/* line 638, ../sass/global.scss */
h2.tlist-news a {
  color: #444;
}
/* line 642, ../sass/global.scss */
h2.tlist-news a:hover {
  color: #4598a6;
}

/* line 647, ../sass/global.scss */
.more-news {
  font-size: 14px;
}
/* line 649, ../sass/global.scss */
.more-news a {
  color: #343233;
  text-decoration: underline;
}

/* line 656, ../sass/global.scss */
.news-post-list {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 10px;
}

/* line 662, ../sass/global.scss */
.list-post-news {
  padding-bottom: 20px;
  border-bottom: 3px solid #4598a6;
  margin-bottom: 20px;
}

/* line 668, ../sass/global.scss */
.img-news-list {
  margin-bottom: 5px;
}

/* line 671, ../sass/global.scss */
.date-publish {
  font-size: 12px;
  color: #0a7180;
  margin-top: 10px;
}

/* line 677, ../sass/global.scss */
.cat-list li {
  list-style: none;
  padding-bottom: 10px;
}
/* line 680, ../sass/global.scss */
.cat-list li a {
  color: #e77e23;
}

/***** noticias detail *****/
/* line 687, ../sass/global.scss */
span.author {
  font-size: 14px;
  font-weight: bold;
}

/* line 692, ../sass/global.scss */
.related-post {
  font-size: 14px;
  padding: 0px 0px 10px 8px;
  margin-bottom: 10px;
}
/* line 698, ../sass/global.scss */
.related-post a {
  color: #3d3e3e;
}
/* line 700, ../sass/global.scss */
.related-post a:hover {
  text-decoration: underline;
  color: #0a7180;
}
/* line 707, ../sass/global.scss */
.related-post .related-content {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
  padding-left: 5px;
}
/* line 714, ../sass/global.scss */
.related-post .related-content a {
  padding-left: 10px;
  float: right;
  clear: both;
  width: 200px;
}

/* line 725, ../sass/global.scss */
.sidebar-social {
  margin-top: 20px;
  float: left;
  margin-bottom: 2em;
}

/***** Socios listas ****/
/* line 734, ../sass/global.scss */
.socios-list {
  float: left;
  padding: 10px;
  font-size: 15px;
  width: 200px;
  height: 350px;
}

/* line 742, ../sass/global.scss */
.socios-logo img {
  margin-bottom: 10px;
  float: left;
  border-radius: 80px;
}

/* line 747, ../sass/global.scss */
.logo-lista {
  margin: 0 auto;
  display: table;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: #fff;
}

/* line 755, ../sass/global.scss */
.logo-lista img {
  border-radius: 50%;
  text-align: center;
  padding: 10px 10px 0 10px;
}

/**** detalle socio *****/
/* line 762, ../sass/global.scss */
.socios-detail {
  text-style: normal;
}

/* line 767, ../sass/global.scss */
.socios-info {
  float: left;
  margin-top: 20px;
  width: 360px;
  padding-left: 20px;
}

/* line 774, ../sass/global.scss */
.socios-text {
  float: left;
  margin-top: 1em;
  padding-top: 10px;
  margin-bottom: 1em;
  border-top: #d6d6d6 solid 2px;
}

/* line 782, ../sass/global.scss */
.socios-info span {
  padding-bottom: 10px;
  float: left;
  clear: both;
}

/* line 788, ../sass/global.scss */
.socio-title {
  font-size: 18px;
  color: #555555;
  margin-top: 10px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

/* line 797, ../sass/global.scss */
.country-socio {
  float: left;
  margin-left: 30%;
  font-size: 12px;
  padding: 2px;
  clear: both;
  text-align: center;
}

/* line 806, ../sass/global.scss */
.socio-summary {
  float: left;
  color: #7f8c8d;
  text-align: center;
  padding: 5px;
}

/* line 812, ../sass/global.scss */
.intro-socios {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #07a3ba;
  padding: 1em;
  margin: 2em;
  border-bottom: #999 solid 2px;
}

/* line 821, ../sass/global.scss */
.mapa-google {
  border-top: solid 1px #999999;
  background: url("../img/mapagoogle2.png") no-repeat center;
  text-align: center;
  width: 100%;
  height: 300px;
}

/* line 828, ../sass/global.scss */
.socio-link {
  float: left;
  margin-top: 20px;
  text-align: center;
  margin-left: 30%;
}

/* line 834, ../sass/global.scss */
.full-width {
  background: #f7f7f3;
  padding: 2em;
}

/* line 838, ../sass/global.scss */
.btn {
  border-radius: 2px;
  float: left;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 37%;
  margin-top: 139px;
  padding: 10px;
  background: #009bc7;
  color: #fff;
  text-shadow: none;
}
/* line 849, ../sass/global.scss */
.btn a {
  color: #fff;
}

/***** Publicaciones ****/
/* line 855, ../sass/global.scss */
.descargar {
  font-size: 14px;
}
/* line 857, ../sass/global.scss */
.descargar a {
  color: #343233;
}

/* line 862, ../sass/global.scss */
.pub-detail {
  border-right: 1px solid #eee;
  padding-bottom: 2em;
}

/* line 866, ../sass/global.scss */
.img-pub {
  float: left;
  margin-right: 15px;
  clear: both;
}

/* line 871, ../sass/global.scss */
.text-pages {
  font-size: 14px;
}
/* line 874, ../sass/global.scss */
.text-pages img {
  margin-right: 10px;
}

/* line 879, ../sass/global.scss */
.dates {
  font-size: 12px;
  color: #17bee1;
  font-weight: bold;
}

/***** Publicaciones-lista *****/
/* line 891, ../sass/global.scss */
.pub-list {
  margin-bottom: 10px;
}

/* line 896, ../sass/global.scss */
.pub-view {
  border-bottom: solid .1em #dddddd;
  margin-bottom: 15px;
}

/* line 900, ../sass/global.scss */
.dates-pub {
  position: absolute;
  overflow: hidden;
  margin-left: -20px;
  z-index: 10;
  text-align: center;
  margin-top: 1em;
  width: 100px;
  height: 50px;
  background: #FFF;
  padding: 10px;
  font-size: 14px;
  padding-top: 8px;
  border-width: 4px;
  border: solid 4px #17bee1;
  color: #17bee1;
}

/* line 919, ../sass/global.scss */
.play-icon {
  z-index: 25;
  position: absolute;
  margin-top: 30%;
  margin-left: 37%;
}

/* line 926, ../sass/global.scss */
.play-list {
  background: url("../img/play.png") no-repeat center;
  z-index: 25;
  width: 32px;
  height: 32px;
  position: absolute;
  margin-top: 5em;
  margin-left: 4.5em;
}

/**** Audio Lista *****/
/* line 937, ../sass/global.scss */
.audio-container {
  float: left;
  margin: 10px;
  width: 460px;
  display: inline-block;
  border-bottom: #dedede 2px solid;
  padding-bottom: 10px;
}

/* line 945, ../sass/global.scss */
.audio-titles {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/* line 950, ../sass/global.scss */
.audiojs {
  margin-bottom: 10px;
}

/**** Share button ****/
.share_box{
  position:fixed;
  width:87px;
  top:38%;
  border:3px solid #a1a1a1;
  background:#FFF;
  padding:8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 956, ../sass/global.scss */
.share-buttom li {
  display: inline-block;
  list-style: none;
}

/**** Recursos ****/
/* line 965, ../sass/global.scss */
.foto-list {
  float: left;
  margin: 10px;
}

/* line 971, ../sass/global.scss */
.foto-list img {
  -webkit-transition: all 0.5s;
}

/* line 975, ../sass/global.scss */
.foto-list img:hover {
  -webkit-filter: none;
  /*Returns to default state*/
}

/* line 979, ../sass/global.scss */
.opacity {
  -webkit-filter: opacity(50%);
}

/* line 982, ../sass/global.scss */
.fotos-titles {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

/* line 988, ../sass/global.scss */
.pic-title {
  font-size: 12px;
  margin-top: 10px;
  clear: both;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  float: left;
}

/* line 998, ../sass/global.scss */
.downloads {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

/* line 1003, ../sass/global.scss */
.files-titles {
  font-size: 14px;
  margin-right: 10px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

/* line 1015, ../sass/global.scss */
li.mix.video.mix_all {
  float: left;
  margin-right: 30px;
}

/* line 1021, ../sass/global.scss */
.video-recurso {
  float: left;
  font-size: 14px;
  margin-left: 30px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

/* line 1030, ../sass/global.scss */
.text-recursos, .titulo-audio {
  font-size: 14px;
  width: 100px;
  margin-left: 30px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

/* line 1037, ../sass/global.scss */
.text-recursos a {
  float: right;
  font-family: 'Open Sans', sans-serif;
}

/* line 1042, ../sass/global.scss */
li.mix.audio.mix_all {
  float: left;
  line-height: none;
  margin-right: 30px;
}

/* line 1048, ../sass/global.scss */
.audio-content {
  line-height: 20px;
  margin-right: 30px;
  padding: 1px 2px 3px 4px;
}

/**** footer ****/
/* line 1057, ../sass/global.scss */
#footer {
  background: #e77e23;
  padding-bottom: 1em;
}
/* line 1060, ../sass/global.scss */
#footer a {
  color: white;
}

/* line 1065, ../sass/global.scss */
.country-title {
  font-size: 16px;
  color: white;
  margin-top: 33px;
  font-weight: bold;
  margin-bottom: 0;
}

/* line 1072, ../sass/global.scss */
.footer-nav {
  margin-left: 0;
  margin-right: 3em;
  float: left;
}

/* line 1077, ../sass/global.scss */
.footer-nav li {
  display: inline-block;
  margin-top: 20px;
  color: white;
  font-size: 12px;
  padding: 10px;
  font-weight: bold;
}
/* line 1084, ../sass/global.scss */
.footer-nav li a {
  color: white;
}

/* line 1090, ../sass/global.scss */
.icon-footer {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 5px;
}

/* line 1096, ../sass/global.scss */
.country {
  margin-top: 10px;
}

/* line 1099, ../sass/global.scss */
.country li {
  display: inline-block;
  font-size: 12px;
  color: white;
  padding: 5px;
}

/* line 1106, ../sass/global.scss */
.gua:before {
  background: url("../img/flags/guatemala.png") no-repeat;
  content: '';
  width: 32px;
  height: 32px;
  padding-left: 18px;
}

/* line 1114, ../sass/global.scss */
.hon:before {
  background: url("../img/flags/honduras.png") no-repeat;
  content: '';
  width: 32px;
  height: 32px;
  padding-left: 18px;
}

/* line 1122, ../sass/global.scss */
.els:before {
  background: url("../img/flags/salvador.png") no-repeat;
  content: '';
  width: 32px;
  height: 32px;
  padding-left: 18px;
}

/* line 1130, ../sass/global.scss */
.nic:before {
  background: url("../img/flags/nicaragua.png") no-repeat;
  content: '';
  width: 32px;
  height: 32px;
  padding-left: 18px;
}

/* line 1138, ../sass/global.scss */
.cos:before {
  background: url("../img/flags/costarica.png") no-repeat;
  content: '';
  width: 32px;
  height: 32px;
  padding-left: 18px;
}

/* line 1146, ../sass/global.scss */
.copyright {
  color: white;
}

/* line 1149, ../sass/global.scss */
.copyright-sesion {
  float: left;
  font-size: 11px;
  color: #fff;
}

/* line 1155, ../sass/global.scss */
.copyright-creativa {
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}

/* line 1163, ../sass/global.scss */
.text-comds img {
  padding: 9px 2px 3px 4px;
}

/* line 1166, ../sass/global.scss */
.donante {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

/* line 1173, ../sass/global.scss */
.menu-site {
  padding: 14px 2px 3px 4px;
}

/* line 1176, ../sass/global.scss */
.menu-site h2 {
  color: #fff;
  font-size: 18px;
}

/* line 1181, ../sass/global.scss */
.menu-site li {
  color: #fff;
  font-size: 13px;
}
/* line 1184, ../sass/global.scss */
.menu-site li a {
  color: #fff;
}
/* line 1186, ../sass/global.scss */
.menu-site li a:hover {
  font-weight: bold;
}

/* line 1194, ../sass/global.scss */
#IrArriba {
  position: fixed;
  bottom: 30px;
  /* Distancia desde abajo */
  right: 30px;
  /* Distancia desde la derecha */
}

/* line 1200, ../sass/global.scss */
#IrArriba span {
  width: 60px;
  /* Ancho del botón */
  height: 60px;
  /* Alto del botón */
  display: block;
  background: url(../img/upflecha.png) no-repeat center center;
}

/**** publicaciones - hover effect ****/
/* line 1211, ../sass/global.scss */
.grid {
  max-width: 400px;
  margin: 5px;
  list-style: none;
  float: left;
  text-align: center;
}

/* line 1220, ../sass/global.scss */
.grid li {
  display: inline;
  width: 150px;
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}

/* line 1229, ../sass/global.scss */
.grid figure {
  margin: 0;
  position: relative;
}

/* line 1234, ../sass/global.scss */
.grid figure img {
  max-width: 200px;
  display: block;
  position: relative;
}

/* line 1240, ../sass/global.scss */
.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #2c3f52;
  color: #ed4e6e;
}

/* line 1249, ../sass/global.scss */
.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}

/* line 1255, ../sass/global.scss */
.grid figcaption span:before {
  content: 'by ';
}

/* line 1259, ../sass/global.scss */
.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #e74c3c;
  color: #fff;
}

/* Individual Caption Styles */
/* Caption Style 4 */
/* line 1274, ../sass/global.scss */
.cs-style-4 li {
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0 50%;
  -moz-perspective-origin: 0 50%;
  perspective-origin: 0 50%;
}

/* line 1283, ../sass/global.scss */
.cs-style-4 figure {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 1289, ../sass/global.scss */
.cs-style-4 figure > div {
  overflow: hidden;
}

/* line 1293, ../sass/global.scss */
.cs-style-4 figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

/* line 1300, ../sass/global.scss */
.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
  -webkit-transform: translateX(25%);
  -moz-transform: translateX(25%);
  -ms-transform: translateX(25%);
  transform: translateX(25%);
}

/* line 1307, ../sass/global.scss */
.cs-style-4 figcaption {
  height: 100%;
  width: 60%;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

/* line 1326, ../sass/global.scss */
.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

/* line 1336, ../sass/global.scss */
.cs-style-4 figcaption a {
  position: absolute;
  bottom: 5em;
  right: 10px;
}

/***** grid images effect *****/
/* line 1345, ../sass/global.scss */
.ri-grid {
  margin: 30px auto 30px;
  position: relative;
  height: auto;
}

/* line 1351, ../sass/global.scss */
.ri-grid ul {
  list-style: none;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 1362, ../sass/global.scss */
.ri-grid ul:before,
.ri-grid ul:after {
  content: '';
  display: table;
}

/* line 1367, ../sass/global.scss */
.ri-grid ul:after {
  clear: both;
}

/* line 1371, ../sass/global.scss */
.ri-grid ul {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* line 1375, ../sass/global.scss */
.ri-grid ul li {
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -o-perspective: 400px;
  -ms-perspective: 400px;
  perspective: 400px;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
  background: #000;
}

/* line 1390, ../sass/global.scss */
.ri-grid ul li a {
  display: block;
  outline: none;
  position: absolute;
  left: 0;
  top: 0;
 /* width: 100%;*/
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #333;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Grid wrapper sizes */
/* line 1420, ../sass/global.scss */
/*.ri-grid-size-1 {
  width: 55%;
}

/* line 1423, ../sass/global.scss */
/*.ri-grid-size-2 {
  width: 100%;
}

/* line 1426, ../sass/global.scss */
/*.ri-grid-size-3 {
  width: 100%;
  margin-top: 0px;
}

/* Shadow style */
/* line 1433, ../sass/global.scss */
.ri-shadow:after,
.ri-shadow:before {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* line 1450, ../sass/global.scss */
.ri-shadow:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* line 1461, ../sass/global.scss */
.ri-grid-loading:after,
.ri-grid-loading:before {
  display: none;
}

/* line 1465, ../sass/global.scss */
.ri-loading-image {
  display: none;
}

/* line 1469, ../sass/global.scss */
.ri-grid-loading .ri-loading-image {
  position: relative;
  width: 30px;
  height: 30px;
  left: 50%;
  margin: 100px 0 0 -15px;
  display: block;
}

/* line 1478, ../sass/global.scss */
/*.ri-grid {
  width: 450px;
}

/* line 1483, ../sass/global.scss */
.ri-grid ul li,
.ri-grid ul li a {
  width: 100px;
  height: 100px;
}

/* line 1487, ../sass/global.scss */
.ri-grid ul li a img {
  width: 100%;
}

/*------------------------------------*\
    Media Queries
\*------------------------------------*/
@media only screen and (min-width: 458px) and (max-width: 800px) {
  .feeds-content {
 
  margin-top: 20px;
}
  .slide-box{
    top: 2%;
  }
  #hero-content {
height: 368px;
}
    .share_box{
      display: none;
    }
  .carousel-caption-1 {
    right: 1%;
    display: none;
  }

  /* line 1951, ../sass/global.scss */
  .carousel-caption-2 {
    right: 1%;
    display: none;
  }

  /* line 1955, ../sass/global.scss */
  .carousel-caption-3 {
    right: 1%;
    display: none;
  }

  /* line 1959, ../sass/global.scss */
  .carousel-caption-4 {
    right: 1%;
    display: none;
  }

  /* line 1963, ../sass/global.scss */
  .carousel-caption-5 {
    right: 1%;
    display: none;
  }
  .top-bar{
  height: 45px;
  vertical-align: middle;
  background-color: #3c8d3f;
}


.fb-like-box{
  width: 200px;
}
.top-bar-section .left,.top-bar-section .right{
  margin-top: 0px;
}

.top-bar.expanded .title-area {
  background: #3c8d3f;
  }
.top-bar-section .right li a:not(.button) {
padding: 0 0px;
background-color:#3c8d3f;

}
.top-bar-section .has-form{
  background-color: #3c8d3f;
}
.top-bar-section li a:not(.button){
  background-color: #3c8d3f;
  color: white;
}
.reddes_logo{
  visibility: hidden;
  display: none;
}




  /* line 1498, ../sass/global.scss */
  .menu-principal {
    margin-left: 40px;
  }

  /* line 1501, ../sass/global.scss */
  .social_icons {
    float: left;
    margin-top: 2.2em;
    margin-left: 0;
  }
}
@media only screen and (min-width: 250px) and (max-width: 568px) {
.feeds-content {
 
  margin-top: 20px;
}
  .share_box{
      display: none;
    }
  .carousel-caption-1 {
    right: 1%;
    display: none;
  }

  /* line 1951, ../sass/global.scss */
  .carousel-caption-2 {
    right: 1%;
    display: none;
  }

  /* line 1955, ../sass/global.scss */
  .carousel-caption-3 {
    right: 1%;
    display: none;
  }

  /* line 1959, ../sass/global.scss */
  .carousel-caption-4 {
    right: 1%;
    display: none;
  }

  /* line 1963, ../sass/global.scss */
  .carousel-caption-5 {
    right: 1%;
    display: none;
  }
  .carousel-caption-1 {
    right: 1%;
    display: none;
  }

  /* line 1951, ../sass/global.scss */
  .carousel-caption-2 {
    right: 1%;
    display: none;
  }

  /* line 1955, ../sass/global.scss */
  .carousel-caption-3 {
    right: 1%;
    display: none;
  }

  /* line 1959, ../sass/global.scss */
  .carousel-caption-4 {
    right: 1%;
    display: none;
  }

  /* line 1963, ../sass/global.scss */
  .carousel-caption-5 {
    right: 1%;
    display: none;
  }
  .top-bar{
  height: 45px;
  vertical-align: middle;
  background-color: #3c8d3f;
}

#hero-content {
height: 240px;
}
.tabss p.news_front_list {
padding-left: 35px;

}
#tabs1-html {
font-size: .875em;
padding: 2px;
height: 350px !important;
}

.fb-like-box{
  width: 200px;
}
.top-bar-section .left,.top-bar-section .right{
  margin-top: 0px;
}

.top-bar.expanded .title-area {
  background: #3c8d3f;
  }
.top-bar-section .right li a:not(.button) {
padding: 0 0px;
background-color:#3c8d3f;

}
.top-bar-section .has-form{
  background-color: #3c8d3f;
}
.top-bar-section li a:not(.button){
  background-color: #3c8d3f;
  color: white;
}
.reddes_logo{
  visibility: hidden;
  display: none;
}
.toggle-topbar{
  color: white;
}



  /* line 1509, ../sass/global.scss */
  .nav-mobile {
    display: block;
  }

  /* line 1512, ../sass/global.scss */
  .slide-box {
    position: relative;
    margin-top: 10px;
  }

  /* line 1517, ../sass/global.scss */
  .social_icons {
    float: left;
    margin-top: 0;
  }

  /* line 1522, ../sass/global.scss */
 .search_box {
    margin-top: 0;
    float: none;
  }

  /* line 1526, ../sass/global.scss */
  .nav {
    width: 100%;
    padding: 20px 0 0;
    margin-left: 120px;
    position: relative;
    z-index: 20;
    background: #fff;
  }

  /* line 1534, ../sass/global.scss */
  .nav-list {
    display: none;
  }

  /* line 1537, ../sass/global.scss */
  .nav-item {
    width: 100%;
    float: none;
  }

  /* line 1541, ../sass/global.scss */
  .nav-item a {
    border-bottom: #fff solid 1px;
    padding: 10px;
  }

  /* line 1545, ../sass/global.scss */
  .nav-item:first-child a {
    border-radius: 5px 0 0;
  }

  /* line 1548, ../sass/global.scss */
  .nav-item:last-child a {
    border-radius: 0 0 5px 5px;
  }

  /* line 1551, ../sass/global.scss */
  .nav-active {
    display: block;
  }

  /* line 1554, ../sass/global.scss */
  .nav-mobile-open {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
  }

  /* line 1559, ../sass/global.scss */
  .logo {
    display: none;
  }
}
/* line 1562, ../sass/global.scss */
#mapa {
  z-index: 99;
  border: #666 3px solid;
}

/* line 1567, ../sass/global.scss */
a.mapa-btn {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 11px;
  margin-left: 5%;
  margin-top: 20px;
}

/* line 1576, ../sass/global.scss */
input[type=submit] {
  margin-top: 5px;
  padding: 10px;
  width: 80px;
  color: #ffffff;
  background-color: #40cc75;
  border: none;
  float: right;
  font-weight: bold;
  font-size: 12px;
}

/* line 1591, ../sass/global.scss */
#mapa img {
  max-width: none !important;
}

/* line 1595, ../sass/global.scss */
#wraper_map {
  position: relative;
}

/* line 1598, ../sass/global.scss */
.forma {
  position: absolute;
  top: 240px;
  right: 7px;
  padding: 10px;
  z-index: 100;
  width: 250px;
  height: 120px;
  background: rgba(0, 0, 255, 0.3);
  border-radius: 3px;
}

/* el tabs de los recurso*/
/* line 1611, ../sass/global.scss */
#tab-side-container {
  background: #fff;
  border: solid 1px;
  height: 300px;
}

/* line 1612, ../sass/global.scss */
#tab-side-container ul {
  height: 300px;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #ccc;
  float: left;
  border-right: solid 1px;
}

/* line 1613, ../sass/global.scss */
#tab-side-container ul li {
  width: 100px;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 1614, ../sass/global.scss */
#tab-side-container ul li a {
  display: block;
  padding: 15px 0;
  outline: none;
}

/* line 1615, ../sass/global.scss */
#tab-side-container ul li a:hover {
  text-decoration: underline;
}

/* line 1616, ../sass/global.scss */
#tab-side-container ul li.selected-tab {
  background: #fff;
  position: relative;
  left: 1px;
  border-style: solid;
  border-width: 1px 0;
}

/* line 1617, ../sass/global.scss */
#tab-side-container ul li:first-child.selected-tab {
  border-top: none;
}

/* line 1618, ../sass/global.scss */
#tab-side-container ul li a.selected-tab {
  font-weight: bold;
  text-decoration: none;
}

/* line 1619, ../sass/global.scss */
#tab-side-container .panel-container {
  background: #fff;
  padding-top: 5px;
  padding-left: 120px;
}

/* Estilo de los tabs*/
/* line 1623, ../sass/global.scss */
.etabs {
  margin: 0;
  padding: 0;
}


/* line 1642, ../sass/global.scss */
.tab {
  display: inline-block;
  zoom: 1;
  *display: inline;
  background: #eee;
  border: solid 1px #999;
  border-bottom: none;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
}

/* line 1651, ../sass/global.scss */
.tab a {
  font-size: 16px;
  color: #555555;
  line-height: 2em;
  display: block;
  padding: 0 10px;
  outline: none;
}

/* line 1660, ../sass/global.scss */
.tab a:hover {
  text-decoration: none;
  color: #17bee1;
}

/* line 1664, ../sass/global.scss */
.tab.active {
  border-top: 2px solid #ee3b16;
  background: transparent;
  background: #fff;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #fff;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* line 1682, ../sass/global.scss */
.tab a.active {
  font-weight: bold;
}

/* line 1683, ../sass/global.scss */
.tab-container .panel-container {
  background: #fff;
  border: solid #666 1px;
  padding: 10px;
  -moz-border-radius: 0 2px 2px 2px;
  -webkit-border-radius: 0 2px 2px 2px;
}

/* line 1691, ../sass/global.scss */
.fb-post iframe {
  transform: scale(0.5, 0.5);
}

/**** Carousel Twitter ****/
/* line 1697, ../sass/global.scss */
.carousel-container {
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  width: 980px;
  left: 0;
  right: 0;
  margin-top: 5px;
}
/* line 1704, ../sass/global.scss */
.carousel-container .btn {
  margin-top: 90px;
  font-size: 12px;
}
/* line 1710, ../sass/global.scss */
.carousel-container a:hover {
  color: #fff;
}

/* line 1718, ../sass/global.scss */
.carousel {
  position: relative;
}

/* line 1721, ../sass/global.scss */
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* line 1726, ../sass/global.scss */
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}

/* line 1733, ../sass/global.scss */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin-right: 24%;
  max-width: 100%;
  height: auto;
  line-height: 1;
}

/* line 1743, ../sass/global.scss */
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

/* line 1746, ../sass/global.scss */
.carousel-inner > .active {
  left: 0;
}

/* line 1750, ../sass/global.scss */
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 1755, ../sass/global.scss */
.carousel-inner > .next {
  left: 100%;
}

/* line 1758, ../sass/global.scss */
.carousel-inner > .prev {
  left: -100%;
}

/* line 1762, ../sass/global.scss */
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

/* line 1765, ../sass/global.scss */
.carousel-inner > .active.left {
  left: -100%;
}

/* line 1768, ../sass/global.scss */
.carousel-inner > .active.right {
  left: 100%;
}

/* line 1771, ../sass/global.scss */
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

/* line 1786, ../sass/global.scss */
.carousel-control.right {
  left: auto;
  right: 0;
}

/* line 1792, ../sass/global.scss */
.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

/* line 1801, ../sass/global.scss */
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
}

/* line 1809, ../sass/global.scss */
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -80px;
  font-family: serif;
}

/* line 1816, ../sass/global.scss */
.carousel-control .icon-prev:before {
  content: '\2039';
}

/* line 1819, ../sass/global.scss */
.carousel-control .icon-next:before {
  content: '\203a';
}

/* line 1822, ../sass/global.scss */
.carousel-indicators {
  position: absolute;
  bottom: 4px;
  right: 8%;
  z-index: 15;
  width: 100px;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

/* line 1833, ../sass/global.scss */
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

/* line 1843, ../sass/global.scss */
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}

/* line 1849, ../sass/global.scss */
.carousel-caption-1 {
  right: 0;
  position: absolute;
  z-index: 10;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background: #28afcc;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  width: 250px;
  height: 100%;
  top: 0;
  margin-left: 10em;
  bottom: 10px;
}

/* line 1867, ../sass/global.scss */
.carousel-caption-2 {
  right: 0;
  position: absolute;
  z-index: 10;
  padding: 20px;
  background: #3c8d3f;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  width: 250px;
  height: 100%;
  top: 0;
  bottom: 10px;
}

/* line 1881, ../sass/global.scss */
.carousel-caption-3 {
  position: absolute;
  z-index: 10;
  padding: 20px;
  background: #c43131;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  width: 250px;
  height: 100%;
  top: 0;
  right: 1%;
  bottom: 10px;
}

/* line 1895, ../sass/global.scss */
.carousel-caption-4 {
  position: absolute;
  z-index: 10;
  padding: 20px;
  background: #8E655C;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  width: 250px;
  height: 100%;
  top: 0;
  right: 1%;
  bottom: 10px;
}

/* line 1909, ../sass/global.scss */
.carousel-caption-5 {
  position: absolute;
  z-index: 10;
  padding: 20px;
  background: #df7323;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  width: 250px;
  height: 100%;
  top: 0;
  right: 1%;
  bottom: 10px;
}

/* line 1923, ../sass/global.scss */
.enlace2 a {
  color: #000;
  text-shadow: none;
}
.top-bar-section {
z-index: 1;
}

@media screen and (min-width: 768px) {

  .top-bar.expanded .title-area {
  background: #3c8d3f;
  }
.top-bar-section .right li a:not(.button) {
padding: 0 0px;


} 
  /* line 1929, ../sass/global.scss */
  .carousel-container {
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    width: 980px;
  }

  /* line 1935, ../sass/global.scss */
  .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-left: -80px;
    font-size: 30px;
    font-size: 65px;
    color: #E77E11;
  }

  /* line 1941, ../sass/global.scss */
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-left: 80px;
    font-size: 30px;
    font-size: 65px;
    color: #E77E11;
  }

  /* line 1947, ../sass/global.scss */
  .carousel-caption-1 {
    right: 1%;
  }

  /* line 1951, ../sass/global.scss */
  .carousel-caption-2 {
    right: 1%;
  }

  /* line 1955, ../sass/global.scss */
  .carousel-caption-3 {
    right: 1%;
  }

  /* line 1959, ../sass/global.scss */
  .carousel-caption-4 {
    right: 1%;
  }

  /* line 1963, ../sass/global.scss */
  .carousel-caption-5 {
    right: 1%;
  }

  /* line 1967, ../sass/global.scss */
  .carousel-indicators {
    bottom: -10px;
  }
}
@media all and (max-width: 760px) and (min-width: 300px) {
  /* line 1974, ../sass/global.scss */
  .share_box{
      display: none;
    }
  .carousel-container {
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    width: 100%;
  }
}
/* line 1986, ../sass/global.scss */
.car_titulo {
  font-size: 18px;
  font-weight: bold;
}

/* line 1991, ../sass/global.scss */
.car_breve {
  font-size: 12px;
  color: white;
  padding: 0px 7px 0px 9px;
  text-align: left;
  text-shadow: none;
}

/* line 1998, ../sass/global.scss */
.car_pais {
  margin: 1px 2px 3px 4px;
  padding: 1px 2px 3px 4px;
}

/* line 2004, ../sass/global.scss */
.control-label {
  font-size: 13px;
  padding-bottom: 10px;
}

/* line 2008, ../sass/global.scss */
#pony_form {
  padding: 44px;
  border: #cacaca solid 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 2017, ../sass/global.scss */
.recur-more {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0 36px;
  font-size: 15px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background-color: #0079ff;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  border: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}

/* line 2037, ../sass/global.scss */
.vivo {
  margin: 1px 2px 3px 200px;
  width: 390px;
}