{% extends "base.html" %}
{% load thumbnail%}

{% block extra_js %}
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script>
  function initialize() {
  var myLatlng = new google.maps.LatLng({{object.position}});
  var mapOptions = {
    zoom: 12,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hola!'
  }); 
};
google.maps.event.addDomListener(window, 'load', initialize);

</script>

{% endblock extra_js %}

{% block contenido %}

<style>
  #map-canvas {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 250px;
  }
</style>
<div class="patter-content">
<div class="row">


  <div class="large-8  columns">
    <h1 class="h-titles">{{object.titulo}}</h1>
        <div class="event-image-list">
        {% if object.fotos.all %}
          {% for imagen in object.fotos.all|slice:"1" %}
            {% thumbnail imagen.imagen "300x250" crop="1%" as img %}
                <div class="img-pagina"><img src="/media/{{img}}"></div>
            {% endthumbnail %} 
          {%endfor%}
       {% else %}
         <div class="event-image-list"><img src="http://placehold.it/300x250"></div>
      {% endif %}

        </div>
    
    <div id="map-canvas"></div>
  
    
    <br>
  <span class="texto-fecha">
    <i class="icon-calendar"></i> Inicio:{{object.fecha_inicio|date:"j-m-Y"}}
     &nbsp; 
    <i class="icon-calendar"></i> Terminacion: {{object.fecha_finalizacion|date:"j-m-Y"}}
  </span>
   <span class="text-event">
        {{object.descripcion|safe}}
   </span>


  
   </div>
  
  <div class="large-4 columns">
    
     {% include "sidebar_lista.html" %}

  

 

  </div>

</div>
</div>
{% endblock contenido %}