<section id="footer">
<div class="row">
<div class="large-12 footer columns">
  <nav class="menu-footer">
          <ul class="footer-nav">
            <li>
              <p class="icon-footer">
               <img src="/static/img/home-footer.png">
              </p>
              <a href="/">Inicio</a>
            </li>
            
            <li>
              <p class="icon-footer" >
               <img src="/static/img/recurso-icon.png">
              </p>
              <a href="/recursos/">Recursos</a>
            </li>
           
            <li>
              <p class="icon-footer" >
               <img src="/static/img/socios-icon.png">
              </p>
              <a href="/lista/socios/">Socios RED-DES</a>
            </li>
        
            <li>
              <p class="icon-footer" >
               <img src="/static/img/paper-icon.png">
              </p>
              <a href="/contactenos/">Contactenos</a>
            </li>
          </ul>
  </nav>

  <ul class="country">
    <p class="country-title">Redes Centro America</p>
    {% for pais in paises %}
      <li class="{{pais|cut:" "|lower|slice:":3"}}"><a href="{% url "socios_pais" pais.id %}">{{pais}}</a></li>
    {% empty %}
      <li class="gua">No existen socios</li>
    {% endfor %}
    
  </ul>
 
   <div class="copyright-sesion">
    <a href="/admin">Iniciar Sesión</a><br><br>
    <br>Desarrollo por <a href="http://www.simas.org.ni">SIMAS</a>  bajo plataforma<a href="https://www.djangoproject.com/">&nbsp;Django</a> 
  </div>
  
  <div class="copyright-creativa">
    RED-DES is licensed under creative Commons Attribution-NonCommercial
  </div>
<div class="donante">Auspiciado por:
<img src="/static/img/hivos.jpg">
</div>
</div>
</div>
</section>

