<section id="footer">
<div class="row">
<div class="large-12 footer columns">
  <nav class="menu-footer">
          <ul class="footer-nav">
            <li>
              <p class="icon-footer">
               <img src="/static/img/home-footer.png">
              </p>
              <a href="">Inicio</a>
            </li>
            
            <li>
              <p class="icon-footer" >
               <img src="/static/img/recurso-icon.png">
              </p>
              <a href="">Recursos</a>
            </li>
           
            <li>
              <p class="icon-footer" >
               <img src="/static/img/socios-icon.png">
              </p>
              <a href="">Socios RED-DES</a>
            </li>
        
            <li>
              <p class="icon-footer" >
               <img src="/static/img/paper-icon.png">
              </p>
              <a href="#">Contactenos</a>
            </li>
          </ul>
  </nav>

  <ul class="country">
    <p>Redes Centro America</p>
    <li class="gua">Guatemala</li>
    <li class="hon">Honduras</li>
    <li class="sal">Salvador</li>
    <li class="ni">Nicaragua</li>
    <li class="cr">Costa Rica</li>
  </ul>
   <span class="copyright">
    <a href="/admin">Iniciar Sesión</a><br><br>
    Auspiciado por FED-HIVOS.<br>Desarrollo por <a href="http://www.simas.org.ni">SIMAS</a>  bajo plataforma<a href="https://www.djangoproject.com/">&nbsp;Django</a> </span>
</div>
</div>
</section>