{% extends "base.html" %}
{% load thumbnail %}

{% load embed_video_tags %}

{% block extra_js %}
  <script type="text/javascript" >
    $(document).ready(function () {  
        $('#divRss').FeedEk({
            FeedUrl: 'http://rss.cnn.com/rss/edition.rss',
            MaxCount: 2
        });
    });    

</script>
{% endblock extra_js %}

{% block contenido %}
<!--header -->  

<section id= "hero-content">
    
  <div class="slide-box">
      <section class="slide">
      <ul data-orbit>
      {% for obj in ultimas_destacadas %}
        {% for caratula in obj %}
          {% for imagen in caratula.fotos.all|slice:"1" %}
        <li>
          {% thumbnail imagen.imagen "960x370" crop="10%" as img %}
            <img src="/media/{{img}}">
            <div class="orbit-caption"><a href="{{obj.get_absolute_url}}">{{caratula.pais}}</a></div> 
          {% endthumbnail %}
        </li>
        {% endfor %}
        {% endfor %}
      {% empty %}
        <li><img src="http://placehold.it/960x370"></li>
    {% endfor %}
     </ul>
     </section>
    </div> <!-- slide-box  final -->

</section><!--hero content  final -->

<section class="feeds-content">
<div class="row">
<div class="large-12 column">
<section class="tabs">
  <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
    <label for="tab-1" class="tab-label-1">Energia renovable</label>
    
  <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
    <label for="tab-2" class="tab-label-2">Produccion Sostenible</label>
    
  <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
    <label for="tab-3" class="tab-label-3">Fortalecimiento institucional</label>
      
          <div class="clear-shadow"></div>
        
  <div class="content">
    <div class="content-1">
        
        {% for obj in noticias_energia %}
            <p class="news_front_list"> 
             
                {% for imagen in  obj.fotos.all|slice:"1"%}
                  {% thumbnail imagen.imagen "190x140" crop="10%" as img %}
                    <img src="/media/{{img}}">
                  {% endthumbnail %}
                {% empty %}
                  <img src="http://placehold.it/190x140" alt="">
                {% endfor %} <br>
                <span class="feed-title">{{obj.titulo}} </span>
                <span class="feed-date">{{obj.fecha}}</span>
                <span class="feed-text">{{obj.descripcion|striptags|safe|truncatewords:12}}</span>
              {% empty %}
                <p>Aún no hay noticias sobre energia renovable</p>
              
             </p>
      {% endfor %}      
    </div>
    <div class="content-2">
          
              {% for obj in noticias_produccion %}
              <p class="news_front_list"> 
                {% for imagen in  obj.fotos.all|slice:"1"%}
                  {% thumbnail imagen.imagen "190x140" crop="10%" as img %}
                    <img src="/media/{{img}}">
                  {% endthumbnail %}
                {% empty %}
                  <img src="http://placehold.it/190x140" alt="">
                {% endfor %} <br>
                <span class="feed-title">{{obj.titulo}}</span>
                <span class="feed-date">{{obj.fecha}}</span>
                <span class="feed-text">{{obj.descripcion|striptags|safe|truncatewords:12}}</span>
              {% empty %}
                <p>Aún no hay noticias sobre producción sostenible</p>

            </p>
              {% endfor %}
           
    </div>
    <div class="content-3">
      
              {% for obj in noticias_fortalecimiento %}
              <p class="news_front_list"> 
                {% for imagen in  obj.fotos.all|slice:"1"%}
                  {% thumbnail imagen.imagen "190x140" crop="10%" as img %}
                    <img src="/media/{{img}}">
                  {% endthumbnail %}
                {% empty %}
                  <img src="http://placehold.it/190x140" alt="">
                {% endfor %} <br>
                <span class="feed-title">{{obj.titulo}}</span>
                <span class="feed-date">{{obj.fecha}}</span>
                <span class="feed-text">{{obj.descripcion|striptags|safe|truncatewords:12}}</span>
              {% empty %}
                <p>Aún no hay noticias sobre fortalecimiento institucional</p>

                </p>
              {% endfor %} 
                     
    </div>
            
  </div>
</section><!--end section tab content -->
</div>
</div>
</section><!--end section feed content -->

<section class="content-digital">
<div class="row">
<div class="large-6 columns">
  <div class="title-bar">Publicaciones</div>
      {% for publicacion in ultimas_publicaciones %}
        <div class="pub-front">
      {% if publicacion.portada %}
      {% thumbnail publicacion.portada "165x210" crop="10%" as img %}
        <a href="{{publicacion.get_absolute_url}}"><img src="/media/{{img}}"></a>
      {% endthumbnail %}
      {%else%}
        <img src="http://placehold.it/165x210">
      {%endif%}
        <h2 class="title-pub"><a href="{{publicacion.get_absolute_url}}">{{publicacion.titulo|truncatewords:3}}</a></h2>
        </div>
      {% empty %}
        <p>No hay publicacion</p>
      {% endfor %}
      <div class="read-more">
        <img src="{{STATIC_URL}}img/arrow-left.png">
        <a href="{% url 'publicaciones_lista' %}">Ver más</a>
      </div>
</div>
  
  <div class="large-3 columns">
    <div class="title-bar">Multimedia</div>
    {% for obj in ultimos_videos %}
      <div class="video-sample">{% video obj.url as video %}
        <div class="play-icon">
          <a data-reveal-id="videoModal-{{obj.id}}" href="">
            <img src="{{STATIC_URL}}img/play.png">
          </a>
        </div>
         <a data-reveal-id="videoModal-{{obj.id}}" href="">
          <img src="{{ video.thumbnail}}" alt="">
         </a>
          {% endvideo %}
      </div>
    {% endfor %}
    <div class="read-more">
        <img src="{{STATIC_URL}}img/arrow-left.png">
        <a href="{% url 'videos_lista' %}">Ver más</a>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="title-bar"> Plataformas y blogs</div>
    <div id="divRss"></div>
  </div>
</div>

</section><!--end section digital content -->

<section class="social-content">
<div class="row">
  <div class="large-3 columns">
    <div class="title-bar">Unete a RED-DES</div>
    <div class="socio_button">Hazte socio</div>
  </div>
  <div class="large-4 columns">
    <div class="title-bar calendar">Próximos eventos</div>
    <div class="eventos">
            
        {% for evento in ultimos_eventos %}
          <div class="eventos-fronts">
            <div class="fecha-box">
              <div class="calendar-icon-front"></div>{{evento.fecha_inicio|date:"j M"}}
              </div>
            <div class="event-content">
              <h2 class="title-event"><a href="{{evento.get_absolute_url}}">{{evento.titulo|safe|truncatewords:12 }}</a></h2>
              
            </div>
          </div>
        {% empty %}
          <p>No hay evento</p>
        {% endfor %}
        <div class="read-more">
          <img src="{{STATIC_URL}}img/arrow-left.png">
            <a href="{% url 'evento_lista' %}">Ver más</a>
        </div>
      </div>
  </div>
</div>
</section><!--end section social --> 


<!--Video Modal box content --> 
{% for obj in ultimos_videos %}
  <div id="videoModal-{{obj.id}}" class="reveal-modal medium">
  <h2>{{obj.nombre}}</h2>
  <div class="flex-video">
    {% video obj.url as video %}
      {{video|embed:"640x480"}}  
    {% endvideo %}
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>
{% endfor %}
<!--Video Modal box content --> 
{% endblock contenido %}