{% extends "base.html" %}

{% block extra_js %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/custom.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cookie.js"></script>
<script type='text/javascript'>
    $(document).ready(function() {
         // para resaltar menu
        $('#asociados-menu').addClass('active');

       var styles = [{"featureType": "landscape","stylers": [{"hue": "#FFA800"},{"saturation": 0},{"lightness": 0},{"gamma": 1}]},{"featureType": "road.highway","stylers": [{"hue": "#FF0300"},{"saturation": -100},{"lightness": 61.39999999999998},{"gamma": 1}]},{"featureType": "road.arterial","stylers": [{"hue": "#FBFF00"},{"saturation": 0},{"lightness": 0},{"gamma": 1}]},{"featureType": "road.local","stylers": [{"hue": "#00FFFD"},{"saturation": 0},{"lightness": 0},{"gamma": 1}]},{"featureType": "water","stylers": [{"hue": "#0094FF"},{"saturation": 39.39393939393935},{"lightness": -12.70588235294116},{"gamma": 1}]},{"featureType": "poi","stylers": [{"hue": "#9FFF00"},{"saturation": 0},{"lightness": 0},{"gamma": 1}]}]

  var styledMap = new google.maps.StyledMapType(styles,
  {name: "Styled Map"});

  var varPais = document.getElementById('id_pais').value

  if ( {{variable}} == 1 ) {
      var latitud;
      var longitud;
        $.ajax({
          type:'POST',
          url: '/posicion_mapa/',
          data:{varPais:varPais},
          async:false,
          success:function(data){
            latitud = (data[0].lat); 
            longitud = (data[0].lon);
        }
      });
        var mapOptions = {
        zoom: 8, 
        center: new google.maps.LatLng(latitud,longitud), 
        mapTypeControlOptions: {
        mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
    },
        scrollwheel: false
    };

    } // ciera el if
  else {
  var mapOptions = {
        center: new google.maps.LatLng(12.605, -85.224),
        zoom: 6,
        scrollwheel: false,
        mapTypeControlOptions: {
            mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
        }
      }

    } //cierra el else de la condicion




  var map = new google.maps.Map(document.getElementById('mapa'),
                                    mapOptions);
  map.mapTypes.set('map_style', styledMap);
  map.setMapTypeId('map_style');
  if ({{variable}} == 1){
       $.getJSON('/ver_mapa_completo/',{varPais:varPais}, function(data){
          $.each(data, function(i, elemento){
              var latlng = new google.maps.LatLng(elemento.lat, elemento.lon);
              var marker = new google.maps.Marker({
                  position: latlng,
                  map: map,
                  name: elemento.nombre,
                  //icon: '/files/img/wifi.png'
              });
              google.maps.event.addListener(marker, "click", function() {
               var html = '<b>'+ elemento.nombre +'</b> ' +
                          '<br><a href="'+ elemento.ruta +'" class="btn">Ver detalle</a>';
                infowindow = new google.maps.InfoWindow({
                          content: html,
                          zIndex: 999,
                });
                infowindow.open(map, this);
                });
          });
      });
  }
  else{
     $.getJSON('/ver_mapa_completo_dos/', function(data){
          $.each(data, function(i, elemento){
              var latlng = new google.maps.LatLng(elemento.lat, elemento.lon);
              var marker = new google.maps.Marker({
                  position: latlng,
                  map: map,
                  name: elemento.nombre,
                  //icon: '/files/img/wifi.png'
              });
              google.maps.event.addListener(marker, "click", function() {
               var html = '<b>'+ elemento.nombre +'</b> ' +
                          '<br><a href="'+ elemento.ruta +'" class="btn">Ver detalle</a>';
                infowindow = new google.maps.InfoWindow({
                          content: html,
                          zIndex: 999,
                });
                infowindow.open(map, this);
                });
          });
      });
  }
  



    });
</script>
{% endblock extra_js %}

{% block contenido %}
    <br><br>
    <div class="forma">
      <form action="" method="POST">{% csrf_token %}
        {{form}}
        <input type="submit" value="consultar">
      </form>
    </div>
    
    <div id="wraper_map">
    <div id="mapa" style="width: 100%; height: 600px;"></div>
    </div>
    <br><br>
{% endblock contenido %}