{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}
{% load embed_video_tags %}


{% block extra_js %}
<script type="text/javascript" src="{% static 'js/jquery.easytabs.js' %}" ></script>

  <script>
  $('#tab-side-container').easytabs();
  $(function() { 
    // Setup the player to autoplay the next track
    var a = audiojs.createAll({
      trackEnded: function() {
        var next = $('ol li.playing').next();
        if (!next.length) next = $('ol li').first();
        next.addClass('playing').siblings().removeClass('playing');
        audio.load($('a', next).attr('data-src'));
        audio.play();
      }
    });

    // Load in a track on click
    $('ol li').click(function(e) {
      e.preventDefault();
      $(this).addClass('playing').siblings().removeClass('playing');
      audio.load($('a', this).attr('data-src'));
      audio.play();
    });
    
  });
</script>
{% endblock extra_js %}

{% block contenido %}

<div class="row">
  <div class="large-12 columns">

<div id="tab-side-container">
 <ul>
  <li><a href="#side-tab1">Fotos</a></li>
  <li><a href="#side-tab2">Videos</a></li>
  <li><a href="#side-tab3">Audios</a></li>
  <li><a href="#side-tab4">Adjuntos</a></li>
 </ul>
 <div class="panel-container">
  <div id="side-tab1">
   
   {% for obj in fotos %}
        {% thumbnail obj.imagen "190x140" crop="10%" as img %}
          <img src="/media/{{img}}">
        {% endthumbnail %}
    {% empty %}
          <p>No existen fotos en el sitio</p>
    {% endfor %}
      <a href="{% url 'fotos_lista'%}">Ver más</a>
  </div>

  <div id="side-tab2">
   
    <div class="video-container">
       
      {% for obj in videos %}
      <div class="video-sample">{% video obj.url as video %}
        <div class="play-icon">
          <a data-reveal-id="videoModal-{{obj.id}}" href="">
            <img src="{{STATIC_URL}}img/play.png">
          </a>
        </div>
         <a data-reveal-id="videoModal-{{obj.id}}" href="">
          {% thumbnail video.thumbnail "190x140" crop="10%" as img %}
              <img src="/media/{{ img}}" alt="">
          {% endthumbnail %}
         </a>
          {% endvideo %}
      </div>
    {% endfor %}
        <a href="{% url 'videos_lista'%}">Ver más</a>
      </div>

  </div>

  <div id="side-tab3">
   
    {% for obj in audios %}
      <div class="audio-container">
        <audio  preload="auto">
          <source src="/media/{{obj.audio}}">
        </audio>
        <span class="titulo-audio">{{obj.nombre}}</span>
      </div>
    {%empty%}
      <p>No existen audios en el sitio</p>
    {% endfor %}    
      <a href="{% url 'audio_lista'%}">Ver más</a>

  </div>
  <div id="side-tab4">
   
<table>
  <thead>
    <tr>
      <th width="200">Nombre documento</th>
      <th width="150">Descargar</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in adjuntos %}
        <tr>
          {% if obj.nombre %}
            <td>{{obj.nombre}}</td>
            <td><div class="descargar">
              <i class="icon-download"></i>
              <a href="/media/{{obj.archivo}}">Descargar archivo</a>
              </div></td>
          {% else %}
            <td>{{obj.titulo}}</td>
            <td><div class="descargar">
              <i class="icon-download"></i>
              <a href="/media/{{obj.adjunto}}">Descargar archivo</a>
              </div></td>
          {% endif %}
        </tr> 
      {% endfor %}
  </tbody>
</table>
    <a href="{% url 'adjuntos_lista'%}">Ver más</a>
  </div>

 </div> <!-- fin del panel container -->
</div> <!-- fin del tab-side-container -->

<br><br>

  </div>
</div>
  

  <!--Video Modal box content --> 
{% for obj in videos %}
  <div id="videoModal-{{obj.id}}" class="reveal-modal medium">
  <h2>{{obj.nombre}}</h2>
  <div class="flex-video">
    {% video obj.url as video %}
      {{video|embed:"640x480"}}  
    {% endvideo %}
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>
{% endfor %}
<!--Video Modal box content --> 
{% endblock contenido %}