{% extends "base.html" %}
{% load thumbnail %}
{% block contenido %}
<div class="content-digital">
  <div class="row">
    <div class="large-8  column">
      {% for obj in socio %}
      <div class="socios-detail">
      <h1 class="socios-titles">{{obj.nombre}}</h1>
      {% thumbnail obj.logo "200x200" crop="10%" as img %}
         <div class="socios-logo"><img src="/media/{{img}}" alt="{{obj.nombre}}"></div>
      {% endthumbnail %}<br>
      <div class="socios-info">
      <span><i class="icon-compass"></i> &nbsp; &nbsp;Pais: {{obj.pais}}</span> <br>
      <span><i class="icon-envelope icon-2"></i>&nbsp; &nbsp;Contacto: {{obj.contacto}}</span> <br>
      <span><i class="icon-phone icon-2"></i>&nbsp; &nbsp;Telefono: {{obj.telefono}}</span> <br>
      
     <span><i class="icon-link icon-2"></i>&nbsp; &nbsp;Pagina web: {{obj.pagina_web}}</span> <br><br>
      </div>


      </div>
     
      <span class="socios-text">{{obj.descripcion}}</span>
    {% empty %}
        <p>No hay datos que mostrar</p>
    {% endfor %}

    </div>
    <div class="large-4 column">
      <h1 class="h-sidebar">Notas del socio</h1>
      <div class="small-line"></div>
      <div class="related-post">
        {% for obj in noticias %}
            <div class="related-content">
              <i class="icon-pencil"></i>
              <a href="/noticias/{{obj.slug}}/">{{obj}}</a>
            </div> 
            <br>
          
          {%empty%}
            <p>No tiene notas</p>
        {% endfor %}
      </div>
      <h1 class="h-sidebar">Publicaciones de socio</h1>
      <div class="small-line"></div>
      <div class="related-post">
        {% for obj in publicaciones %}

        <div class="related-content">
          <i class="icon-book"></i>
          <a href="/recursos/">{{obj}}</a>
            </div> <br>
        {% empty %}
            <p>No tiene publicaciones</p>
        {% endfor %}
      </div>




    </div>

  </div>
</div> 
    
{% endblock contenido %}