{% extends "base.html" %}
{% load thumbnail %}
{% block contenido %}
<div class="patter-content">
  <div class="row">
    <div class="large-12 column">
    <h1 class="h-titles">Nuestros Socios</h1>
    <div class="intro-socios">Conozca un poco acerca de nuestros socios</div>
      
      {% for obj in socios %}
      <div class="socios-list">
        {% if obj.logo %}
          {% thumbnail obj.logo "110x110" crop="10%" as img %}
            <div class="logo-lista"><img src="/media/{{img}}" alt="{{obj.nombre}}"></div>
          {% endthumbnail %}
        {% else %}
          <div class="logo-lista"><img src="http://placehold.it/110x110" alt="{{obj.nombre}}"></div>
        {% endif %}
      <span class='socio-title'> {{obj.nombre}}</span>
      <span class="country-socio">Pais: {{obj.pais}}</span>
      <span class="socio-summary">{{obj.descripcion|striptags|safe|truncatewords:8}}</span>
      <span class="socio-link"> <a href="{{obj.get_absolute_url}}">Ver Socio</a> </span>
    </div>
    {% empty %}
        <p>No hay datos que mostrar</p>

    {% endfor %}
     
    </div>
  </div>
<div class="full-width">
  <div class="row">
  <div class="large-12 column">
  <h2 class="h-titles">Socios alrededor de toda Centro America. Para mayor informacion ver mapa.</h2>
  </div>
  </div>
</div>
<div class="mapa-google"> 
<div class="row">
  <div class="large-12 column">
  <span class="btn"><a href="/mapas">Más info ver mapa</a></span>
  </div>
</div>
</div>
</div> 
{% endblock contenido %}