{% extends "base.html" %}
{% load thumbnail %}
{% block contenido %}
<div class="social-content">
  <div class="row">
    <div class="large-8  column">
      {% for obj in socio %}
      <div class="socios-detail">
      <h1 class="h-titles">{{obj.nombre}}</h1>
      {% thumbnail obj.logo "200x200" crop="10%" as img %}
         <div class="socios-logo"><img src="/media/{{img}}" alt="{{obj.nombre}}"></div>
      {% endthumbnail %}<br>
      <span><i class="icon-compass"></i> &nbsp; &nbsp;Pais: {{obj.pais}}</span> <br>
      <span><i class="icon-envelope icon-2"></i>&nbsp; &nbsp;Contacto: {{obj.contacto}}</span> <br>
      <span><i class="icon-phone icon-2"></i>&nbsp; &nbsp;Telefono: {{obj.telefono}}</span> <br>
      
     <span><i class="icon-link icon-2"></i>&nbsp; &nbsp;Pagina web: {{obj.pagina_web}}</span> <br><br>
      <span>Descripción:<br> {{obj.descripcion}}</span>
      </div>
    {% empty %}
        <p>No hay datos que mostrar</p>
    {% endfor %}

    </div>
    <div class="large-4 column">
      <h1 class="h-titles">Notas de socio</h1>
      {% for obj in noticias %}
          {{obj}}
        {%empty%}
          <p>No tiene notas</p>
      {% endfor %}

      <h1 class="h-titles">Publicaciones de socio</h1>
      {% for obj in publicaciones %}
          {{obj}}
      {% empty %}
          <p>No tiene publicaciones</p>
      {% endfor %}
    </div>

  </div>
</div> 
    
{% endblock contenido %}